.cards-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.newCard-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px;
    background-color: var(--Secondary-Color);
    text-decoration: none;
    color: var(--White-Text-Color);
    border-radius: 6px;
}