.AuthMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    direction: rtl; 
}

.companyLogo {
    font-size: 24px;
    font-weight: 600;
    color: var(--Secondary-Color);
}

.navigationItems ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navigationItems a {
    text-decoration: none;
    color: var(--Black-Text-Color);
    display: inline-block;
    font-size: 22px;
}

.navigationItems a:hover {
    color: var(--Secondary-Color);
    transform: scale(1.2);
}

.menuItems {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 18px;
}

.menuItems .userItem {
    font-size: 20px;
}

.menuItems .loginButton {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.loginButton .NavLogin {
    color: var(--Black-Text-Color);
    text-decoration: none;
}

.NavLogged .action,
.NavLogin {
    text-decoration: none;
    color: var(--Black-Text-Color);
}

.NavLogged .action:hover,
.NavLogin:hover,
.UserLogin:hover {
    color: var(--Secondary-Color);
    text-decoration: underline;
}
